.app {
  width: 40%;
  margin: 0px auto;
  font-family: "Varela Round", sans-serif;
}
.app h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.app__btn {
  display: flex;
}
.app__btn button,
input[type="reset"] {
  margin-left: auto;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  background-color: rgb(61, 61, 224);
}
.weeks__days {
  margin-top: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
input:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .app {
    width: 95%;
    padding: 10px;
  }
}
